doctype html
html.no-js(lang='zxx')
  head
    // Mobile Specific Meta
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='img/elements/fav.png')
    // Author Meta
    meta(name='author', content='colorlib')
    // Meta Description
    meta(name='description', content='')
    // Meta Keyword
    meta(name='keywords', content='')
    // meta character set
    meta(charset='UTF-8')
    // Site Title
    title Coffee
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
    //
      CSS
      =============================================
    link(rel='stylesheet', href='css/linearicons.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/nice-select.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/main.css')
  body
    header#header
      .header-top
        .container
          .row.justify-content-end
            .col-lg-6.col-sm-4.col-8.header-top-right.no-padding
              ul
                li
                  | Mon-Fri: 8am to 2pm
                li
                  | Sat-Sun: 11am to 4pm
                li
                  a(href='tel:(012) 6985 236 7512') (012) 6985 236 7512
      .container
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href='index.html')
              img(src='img/logo.png', alt='', title='')
          nav#nav-menu-container
            ul.nav-menu
              li.menu-active
                a(href='index.html#home') Home
              li
                a(href='index.html#about') About
              li
                a(href='index.html#coffee') Coffee
              li
                a(href='index.html#review') Review
              li
                a(href='index.html#blog') Blog
              li.menu-has-children
                a(href='') Pages
                ul
                  li
                    a(href='generic.html') Generic
                  li
                    a(href='elements.html') Elements
          // #nav-menu-container
          // #header
          section.generic-banner.relative
            .container
              .row.height.align-items-center.justify-content-center
                .col-lg-10
                  .generic-banner-content
                    h2.text-white The Generic Page
                    p.text-white
                      | It won’t be a bigger problem to find one video game lover in your 
                      br
                      |  neighbor. Since the introduction of Virtual Game.
          // End banner Area
          // About Generic Start
          .main-wrapper
            // Start video-sec Area
            section#about.video-sec-area.pt-100
              .container
                .row.justify-content-start.align-items-center
                  .col-lg-6.video-right.justify-content-center.align-items-center.d-flex
                    .overlay.overlay-bg
                    a.play-btn(href='https://www.youtube.com/watch?v=ARA0AxrnHdM')
                      img.img-fluid(src='img/play-icon.png', alt='')
                  .col-lg-6.video-left
                    h6 Live Coffee making process.
                    h1
                      | We Telecast our 
                      br
                      | 							Coffee Making Live
                    p
                      span We are here to listen from you deliver exellence
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    img.img-fluid(src='img/signature.png', alt='')
            // End video-sec Area
            // Start Generic Area
            section.about-generic-area.section-gap
              .container.border-top-generic
                h3.about-title.mb-30 Elaboration about Generic Page
                .row
                  .col-md-12
                    .img-text
                      img.img-fluid.float-left.mr-20.mb-20(src='img/a.jpg', alt='')
                      p
                        | Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.
                  .col-lg-12
                    p
                      | Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.
                  .col-lg-12
                    p
                      | Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.
                  .col-md-12
                    .img-text
                      img.img-fluid.float-left.mr-20.mb-20(src='img/a2.jpg', alt='')
                      p
                        | Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.
            // End Generic Start
            // start footer Area
            footer.footer-area.section-gap
              .container
                .row
                  .col-lg-5.col-md-6.col-sm-6
                    .single-footer-widget
                      h6 About Us
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                      p.footer-text
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright ©
                        script.
                          document.write(new Date().getFullYear());
                        |  All rights reserved | This template is made with 
                        i.fa.fa-heart-o(aria-hidden='true')
                        |  by 
                        a(href='https://colorlib.com', target='_blank') Colorlib
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  .col-lg-5.col-md-6.col-sm-6
                    .single-footer-widget
                      h6 Newsletter
                      p Stay update with our latest
                      #mc_embed_signup
                        form.form-inline(target='_blank', novalidate='true', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
                          input.form-control(name='EMAIL', placeholder='Enter Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Email '", required='', type='email')
                          button.click-btn.btn.btn-default
                            i.fa.fa-long-arrow-right(aria-hidden='true')
                          div(style='position: absolute; left: -5000px;')
                            input(name='b_36c4fd991d266f23781ded980_aefe40901a', tabindex='-1', value='', type='text')
                          .info.pt-20
                  .col-lg-2.col-md-6.col-sm-6.social-widget
                    .single-footer-widget
                      h6 Follow Us
                      p Let us be social
                      .footer-social.d-flex.align-items-center
                        a(href='#')
                          i.fa.fa-facebook
                        a(href='#')
                          i.fa.fa-twitter
                        a(href='#')
                          i.fa.fa-dribbble
                        a(href='#')
                          i.fa.fa-behance
            // End footer Area
            script(src='js/vendor/jquery-2.2.4.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
            script(src='js/vendor/bootstrap.min.js')
            script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
            script(src='js/easing.min.js')
            script(src='js/hoverIntent.js')
            script(src='js/superfish.min.js')
            script(src='js/jquery.ajaxchimp.min.js')
            script(src='js/jquery.magnific-popup.min.js')
            script(src='js/owl.carousel.min.js')
            script(src='js/jquery.sticky.js')
            script(src='js/jquery.nice-select.min.js')
            script(src='js/parallax.min.js')
            script(src='js/mail-script.js')
            script(src='js/main.js')
