doctype html
html.no-js(lang='zxx')
  head
    // Mobile Specific Meta
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='img/fav.png')
    // Author Meta
    meta(name='author', content='codepixer')
    // Meta Description
    meta(name='description', content='')
    // Meta Keyword
    meta(name='keywords', content='')
    // meta character set
    meta(charset='UTF-8')
    // Site Title
    title Coffee
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
    //
      CSS
      =============================================
    link(rel='stylesheet', href='css/linearicons.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/nice-select.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    link(rel='stylesheet', href='css/main.css')
  body
    header#header
      .header-top
        .container
          .row.justify-content-end
            .col-lg-8.col-sm-4.col-8.header-top-right.no-padding
              ul
                li
                  | Mon-Fri: 8am to 2pm
                li
                  | Sat-Sun: 11am to 4pm
                li
                  a(href='tel:(012) 6985 236 7512') (012) 6985 236 7512
      .container
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href='index.html')
              img(src='img/logo.png', alt='', title='')
          nav#nav-menu-container
            ul.nav-menu
              li.menu-active
                a(href='#home') Home
              li
                a(href='#about') About
              li
                a(href='#coffee') Coffee
              li
                a(href='#review') Review
              li
                a(href='#blog') Blog
              li.menu-has-children
                a(href='') Pages
                ul
                  li
                    a(href='generic.html') Generic
                  li
                    a(href='elements.html') Elements
          // #nav-menu-container
          // #header
          // start banner Area
          section#home.banner-area
            .container
              .row.fullscreen.d-flex.align-items-center.justify-content-start
                .banner-content.col-lg-7
                  h6.text-white.text-uppercase Now you can feel the Energy
                  h1
                    | Start your day with 
                    br
                    |                 a black Coffee
                  a.primary-btn.text-uppercase(href='#') Buy Now
          // End banner Area
          // Start video-sec Area
          section#about.video-sec-area.pb-100.pt-40
            .container
              .row.justify-content-start.align-items-center
                .col-lg-6.video-right.justify-content-center.align-items-center.d-flex
                  .overlay.overlay-bg
                  a.play-btn(href='https://www.youtube.com/watch?v=ARA0AxrnHdM')
                    img.img-fluid(src='img/play-icon.png', alt='')
                .col-lg-6.video-left
                  h6 Live Coffee making process.
                  h1
                    | We Telecast our 
                    br
                    |               Coffee Making Live
                  p
                    span We are here to listen from you deliver exellence
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                  img.img-fluid(src='img/signature.png', alt='')
          // End video-sec Area
          // Start menu Area
          section#coffee.menu-area.section-gap
            .container
              .row.d-flex.justify-content-center
                .menu-content.pb-60.col-lg-10
                  .title.text-center
                    h1.mb-10 What kind of Coffee we serve for you
                    p Who are in extremely love with eco friendly system.
              .row
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Cappuccino
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Americano
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Espresso
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Macchiato
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Mocha
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Coffee Latte
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Piccolo Latte
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Ristretto
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
                .col-lg-4
                  .single-menu
                    .title-div.justify-content-between.d-flex
                      h4 Affogato
                      p.price.float-right
                        | $49
                    p
                      | Usage of the Internet is becoming more common due to rapid advance.
          // End menu Area
          // Start gallery Area
          section#gallery.gallery-area.section-gap
            .container
              .row.d-flex.justify-content-center
                .menu-content.pb-60.col-lg-10
                  .title.text-center
                    h1.mb-10 What kind of Coffee we serve for you
                    p Who are in extremely love with eco friendly system.
              .row
                .col-lg-4
                  a.img-pop-home(href='img/g1.jpg')
                    img.img-fluid(src='img/g1.jpg', alt='')
                  a.img-pop-home(href='img/g2.jpg')
                    img.img-fluid(src='img/g2.jpg', alt='')
                .col-lg-8
                  a.img-pop-home(href='img/g3.jpg')
                    img.img-fluid(src='img/g3.jpg', alt='')
                  .row
                    .col-lg-6
                      a.img-pop-home(href='img/g4.jpg')
                        img.img-fluid(src='img/g4.jpg', alt='')
                    .col-lg-6
                      a.img-pop-home(href='img/g5.jpg')
                        img.img-fluid(src='img/g5.jpg', alt='')
          // End gallery Area
          // Start review Area
          section#review.review-area.section-gap
            .container
              .row.d-flex.justify-content-center
                .menu-content.pb-60.col-lg-10
                  .title.text-center
                    h1.mb-10 What kind of Coffee we serve for you
                    p Who are in extremely love with eco friendly system.
              .row
                .col-lg-6.col-md-6.single-review
                  img(src='img/r1.png', alt='')
                  .title.d-flex.flex-row
                    h4 lorem ipusm
                    .star
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star
                      span.fa.fa-star
                  p
                    | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                .col-lg-6.col-md-6.single-review
                  img(src='img/r2.png', alt='')
                  .title.d-flex.flex-row
                    h4 lorem ipusm
                    .star
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star
                      span.fa.fa-star
                      span.fa.fa-star
                  p
                    | Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
              .row.counter-row
                .col-lg-3.col-md-6.single-counter
                  h1.counter 2536
                  p Happy Client
                .col-lg-3.col-md-6.single-counter
                  h1.counter 7562
                  p Total Projects
                .col-lg-3.col-md-6.single-counter
                  h1.counter 2013
                  p Cups Coffee
                .col-lg-3.col-md-6.single-counter
                  h1.counter 10536
                  p Total Submitted
          // End review Area
          // Start blog Area
          section#blog.blog-area.section-gap
            .container
              .row.d-flex.justify-content-center
                .menu-content.pb-60.col-lg-10
                  .title.text-center
                    h1.mb-10 What kind of Coffee we serve for you
                    p Who are in extremely love with eco friendly system.
              .row
                .col-lg-6.col-md-6.single-blog
                  img.img-fluid(src='img/b1.jpg', alt='')
                  ul.post-tags
                    li
                      a(href='#') Travel
                    li
                      a(href='#') Life Style
                  a(href='#')
                    h4 Portable latest Fashion for young women
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
                  p.post-date
                    | 31st January, 2018
                .col-lg-6.col-md-6.single-blog
                  img.img-fluid(src='img/b2.jpg', alt='')
                  ul.post-tags
                    li
                      a(href='#') Travel
                    li
                      a(href='#') Life Style
                  a(href='#')
                    h4 Portable latest Fashion for young women
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
                  p.post-date
                    | 31st January, 2018
          // End blog Area
          // start footer Area
          footer.footer-area.section-gap
            .container
              .row
                .col-lg-5.col-md-6.col-sm-6
                  .single-footer-widget
                    h6 About Us
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    p.footer-text
                      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                      | Copyright ©
                      script.
                        document.write(new Date().getFullYear());
                      |  All rights reserved | This template is made with 
                      i.fa.fa-heart-o(aria-hidden='true')
                      |  by 
                      a(href='https://colorlib.com', target='_blank') Colorlib
                      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                .col-lg-5.col-md-6.col-sm-6
                  .single-footer-widget
                    h6 Newsletter
                    p Stay update with our latest
                    #mc_embed_signup
                      form.form-inline(target='_blank', novalidate='true', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
                        input.form-control(name='EMAIL', placeholder='Enter Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Email '", required='', type='email')
                        button.click-btn.btn.btn-default
                          i.fa.fa-long-arrow-right(aria-hidden='true')
                        div(style='position: absolute; left: -5000px;')
                          input(name='b_36c4fd991d266f23781ded980_aefe40901a', tabindex='-1', value='', type='text')
                        .info.pt-20
                .col-lg-2.col-md-6.col-sm-6.social-widget
                  .single-footer-widget
                    h6 Follow Us
                    p Let us be social
                    .footer-social.d-flex.align-items-center
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-dribbble
                      a(href='#')
                        i.fa.fa-behance
          // End footer Area
          script(src='js/vendor/jquery-2.2.4.min.js')
          script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
          script(src='js/vendor/bootstrap.min.js')
          script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
          script(src='js/easing.min.js')
          script(src='js/hoverIntent.js')
          script(src='js/superfish.min.js')
          script(src='js/jquery.ajaxchimp.min.js')
          script(src='js/jquery.magnific-popup.min.js')
          script(src='js/owl.carousel.min.js')
          script(src='js/jquery.sticky.js')
          script(src='js/jquery.nice-select.min.js')
          script(src='js/parallax.min.js')
          script(src='js/waypoints.min.js')
          script(src='js/jquery.counterup.min.js')
          script(src='js/mail-script.js')
          script(src='js/main.js')
